<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/about.css') }}"
    />
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='img/carousel_horse.png') }}"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">The Clothing Carousel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item current">
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('shop') }}">Shop</a>
            </li>
            {% if 'username' not in session %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}"
                >Login and Register</a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('user') }}"
                >{{ session['username'] }}'s Outfits</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('community') }}"
                >Community</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <h1><br /><br /></h1>
      <section class="team-carousel">
        <div class="team-member active">
          <div class="team-member-img">
            <img
              src="{{ url_for('static', filename='img/about/about_page_cris.jpg') }}"
              alt="Programmer 1"
            />
          </div>
          <div class="team-member-info">
            <h3>Programmer 1</h3>
            <p>
              Greetings! My name is Cris Zbavitel; I'm a senior computer science
              student at East Carolina University, and I love all things related
              to tech! Fun fact: Steve Jobs and I share the same birthday -
              February 24th.
            </p>
            <!--<a href="{{ url_for('static', filename='img/about/resumes/Resume_Cris.pdf') }}" target="_blank" id="resumeCris">View Resume</a>-->
          </div>
        </div>
        <div class="team-member">
          <div class="team-member-img">
            <img
              src="{{ url_for('static', filename='img/about/about_page_ryan.png') }}"
              alt="Programmer 2"
            />
          </div>
          <div class="team-member-info">
            <h3>Programmer 2</h3>
            <p>
              Hi! My name is Ryan Varnell. I'm a Computer Science major at East
              Carolina University. I have both an Associates in Science and an
              Associates in Information Technology from Edgecombe Community
              College.
            </p>
            <!--<a href="{{ url_for('static', filename='img/about/resumes/Resume_Ryan.pdf') }}" target="_blank" id="resume2">View Resume</a>-->
          </div>
        </div>
        <div class="team-member">
          <div class="team-member-img">
            <img
              src="{{ url_for('static', filename='img/about/about_page_evan.png') }}"
              alt="Programmer 3"
            />
          </div>
          <div class="team-member-info">
            <h3>Programmer 3</h3>
            <p>
              Hey, my name is Evan Brown! I love swimming, programming, and
              playing video games. I've had a great time in this course and
              through my 4 years at ECU. I am happily graduating this semester
              on May 5th and am excited to see what the world has to offer!
            </p>
            <!--<a href="{{ url_for('static', filename='img/about/resumes/Resume_Evan.pdf') }}" target="_blank" id="resume3">View Resume</a>-->
          </div>
        </div>
        <div class="carousel-nav">
          <button class="prev">&#10094;</button>
          <button class="next">&#10095;</button>
        </div>
      </section>
      <br />
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h5>Website Made With</h5>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Flask</li>
                <li>Bootstrap</li>
                <li>SQLite</li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Joke of the Day</h5>
              <p>
                Why don't scientists trust atoms? Because they make up
                everything!
              </p>
            </div>
            <div class="col-md-4">
              <h5>Music We Love</h5>
              <ul>
                <li>
                  <a
                    href="https://open.spotify.com/artist/4tZwfgrHOc3mvqYlEYSvVi"
                    target="_blank"
                    >Daft Punk</a
                  >
                </li>
                <li>
                  <a
                    href="https://open.spotify.com/artist/2pAWfrd7WFF3XhVt9GooDL"
                    target="_blank"
                    >MF DOOM</a
                  >
                </li>
                <li>
                  <a
                    href="https://open.spotify.com/artist/0YsLR3SQd5QTXAhGIGX7cl?si=e1162aefab3f465f"
                    target="_blank"
                    >Del the Funky Homosapien</a
                  >
                </li>
                <li>
                  <a
                    href="https://open.spotify.com/track/3JiHsHRSHobBkjl4j7mYSd?si=d7799374625144ad"
                    >Constrobuz</a
                  >
                </li>
                <!-- Add more artists here -->
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
